@media (max-width: 1200px) {
    .consultation {
        .container {
            width: 960px;
        }

        &_form__button {
            button {

            }
        }
    }
}

@media (max-width: 991px) {
    .consultation {
        h2:first-child {
            display: none;
        }
        .container {
            width: 720px;

            .consultation_form {
                &__button {
                    max-width: 400px;
                    height: 65px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .consultation {
        .container {
            width: 540px;
        }
    }
}