@mixin button {
    display:flex;
    justify-content: center;
    align-items: center;
  }

@mixin dot {
    width: 15px;
    height: 15px;
    background-color:  #E2BA00;
    border-radius: 0;
    border: none;
    margin-right: 10px;
}