@mixin button {
    display:flex;
    justify-content: center;
    align-items: center;
  }

@mixin dot {
    width: 20px;
    height: 20px;
    background-color:  #E2BA00;
    border-radius: 0;
    border: none;
    margin-right: 10px;
}

@mixin media($breakpoint) {
    @media #{$breakpoint} {
        @content;
    }
}