@import '../../../scss/vars.scss';
@import '../../../scss/mixins/mixins.scss';
@import '../../../scss/_reponsive.scss';

.footer {
    background: rgba(43, 48, 54, 1);
    padding: 50px 0 155px 0;

    .container {
        display: flex;
        padding: 0 50px 0 50px;
        align-self: flex-end;
    }

    &_social {
        align-self: flex-start;
        margin-right: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__instagram {
            margin-right: 10px;
        }

        &__title {
            color: var(--color-white);
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }

    &_menu {
        display: flex;

        &__wrapper {
            padding-right: 105px;
            color: var(--color-white);
            display: flex;
            flex-direction: column;

            a {
                color: var(--color-white);

                &:hover {
                    color: #656e7d;
                }
            }

            &:nth-child(3) {
                padding-right: 0;
            }
        }

        &__item {
            font-family: $font-secondary;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 10px;
            
            &:first-child {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include media($breakpoint-l-and-more) {

    }

    @include media($breakpoint-m) {
        padding: 50px 0 100px 0;

        .container {
            padding: 0;
        }
    }

    @include media($breakpoint-s) {
        padding: 50px 0 80px 0;
        .container {
            flex-direction: column;
            align-items: center;
        }

        &_social {
            margin: 0 auto 50px auto;
        }

        &_menu__item {
            font-size: 15px;
        }
    }

    @include media($breakpoint-x) {
        padding: 50px 0 80px 0;

        .container {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        &_social {
            margin: 0 auto 50px auto;
        }

        &_menu {
            margin: 0 20px;
            &__item {
                font-size: 15px;
            }
        }
    }

    @include media($breakpoint-xs) {
        padding: 50px 0 50px 0;

        .container {
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }

        &_social {
            order: 2;
            margin: 0 auto 0 auto;

            img {
                width: 25px;
            }

            &__title {
                font-size: 24px;
            }
        }

        &_menu {
            order: 1;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;

            &__item {
                font-size: 16px;

                &:first-child {
                    font-size: 22px;
                }
            }

            &__wrapper {
                padding-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}