@import '../../../scss/vars.scss';
@import '../../../scss/mixins/mixins.scss';
@import '../../../scss/_reponsive.scss';

.slider {

    h2:first-child {
        display: none;
    }

    &_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    &_item {
        width: 460px;
        margin: 0 auto 115px auto;

        img {
            width: 100%;
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 55px;
        }

        &__dot {
            @include dot;

            &[disabled] {
                background-color:  white;
            }

            &:hover {
                border: 2px solid var(--color-white);
            }

        }
    }

    &_button__wrapper {
        max-width: 253px;
        height: 62px;
        width: 100%;
        position: relative;
        margin: 0 auto;


        button {
            height: 100%;
            width: 100%;
            margin: 0 auto;      
            background: #E2BA00;
            cursor: pointer;
            border: none;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            span {         
                width: min-content;
                height: min-content;   
                transition: .3s ease;
                font-family: $font-secondary;
                font-weight: 700;
                color: var(--color-white);
                text-transform: uppercase;
                font-size: 18px;
                background: transparent;
                white-space: nowrap;
                position: relative;

            }


            &:hover ~ span {
                transform: translate(5px, 5px);
            }

            &:hover span {
                font-size: 19px;
                transform: scale(1.1);
                // transition: .3s ease;
            }
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #61697A;
            transform: translate(0, 0);
            z-index: 1;
            transition: .3s ease;
        }
    }

    @include media($breakpoint-l-and-more) {

    }

    @include media($breakpoint-m) {

    }

    @include media($breakpoint-s) {
        &_button__wrapper {

            button {
                display: block;

                &:hover span {
                    font-size: 18px;
                    transform: none;
                }

            }

            span:nth-child(2) {
                display: none;
            }
        }
    }

    @include media($breakpoint-x) {
        h2 {
            font-size: 30px;
        }

        &_item {
            width: 100%;
            margin: 0 auto;

        }

        &_button__wrapper {
            max-width: 250px;
            height: 60px;

            button {
                display: block;

                span {
                    font-size: 18px;
                }

                &:hover span{
                    font-size: 18px;
                    transform: none;
                }
            }

            span:nth-child(2){
                display: none;
            }
        }

        &_wrapper {
            margin-bottom: 0;
        }
    }

    @include media($breakpoint-xs) {
        h2{
            font-size: 28px;
            text-align: center;
        }

        &_item {
            width: 100%;
            margin: 0 auto;

        }

        &_button__wrapper {
            max-width: 230px;
            height: 55px;

            button {
                display: block;

                span {
                    font-size: 16px;
                }

                &:hover span{
                    font-size: 16px;
                    transform: none;
                }
            }

            span:nth-child(2) {
                display: none;
            }
        }

        &_wrapper {
            margin-bottom: 0;
        }
    }
}