html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="icon", href="./images/favicon-32x32.png")
    title=title
  body
    div#application

    div#modal-form

    script(src="../static/js/bundle.js?v=" + process.env.BUNDLE_VERSION)