@media (max-width: 1200px) {
    .promo {
        .container {
            width: 960px;
            height: 100%;

            .promo_header {
                padding: 195px 0 0 95px;
            }
        }
    }
}

@media (max-width: 991px) {
    #main {
        //min-height: 650px;
        height: 100%;

    }
    .promo {
        //img {
        //    //object-fit: revert;
        //}
        .container {
            width: 720px;

            .promo_header {
                font-size: 65px;
                line-height: 80px;
                padding: 300px 0 0 0;
            }

            .checkbox {
                margin: 270px 0 0 55px;

                &_item {
                    margin-bottom: 125px;
                    font-size: 40px;

                    &__text {
                        padding-left: 90px;
                    }

                    &__img {
                        img {
                            width: 50px;
                            height: 51px;
                        }

                    }

                    &:last-child {
                        margin-bottom: 65px;
                    }
                }
            }
            .promo_button__wrapper {
                margin: 270px 0 0 55px;
                max-width: 440px;
                height: 100px;

                button {
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .promo {
        .container {
            width: 540px;

            .promo_header {
                font-size: 35px;
            }
            .promo_button__wrapper {
                max-width: 205px;
                height: 55px;

                button {
                    display: block;
                    &:hover span {
                        font-size: 16px;
                        transform: none;
                    }

                    &:hover ~ span {
                        transform: none;
                    }
                }

                span:first-child {
                    font-size: 16px;
                }

                span:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .promo {
        .container {
            width: 100%;

            .promo_header {
                font-size: 30px;
            }

            .promo_button__wrapper {
                max-width: 205px;
                height: 55px;
                margin: 65px 0 0 4%;

                button {
                    display: block;
                    &:hover span {
                        font-size: 16px;
                        transform: none;
                    }

                    &:hover ~ span {
                        transform: none;
                    }
                }

                span:first-child {
                    font-size: 16px;
                }

                span:nth-child(2) {
                    display: none;
                }
            }

            .checkbox_item:last-child {
                margin-bottom: 0;
            }

            .checkbox {
                margin: 55px 0 0 4%;

                &_item__text {
                    font-size: 15px;
                }
            }
        }
    }
}