@import '../../../scss/vars.scss';

.promo{
    height: 751px;
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
    }

    &_header {

            padding: 195px 0 120px 95px;
            color: var(--color-white);
            height: 99px;
            font-size: 48px;
            text-transform: uppercase;
            line-height: 56px;

    }

    .checkbox {
        margin-top: 100px;
        margin-left: 167px;

        &_item {
            display: flex;
            color: var(--color-white);
            margin-bottom: 56px;

            &:last-child {
                margin-bottom: 89px;
            }

            &__img img{
                width: 20px;
                height: 21px;
            }

            &__text {
                padding-left: 34px;
            }
        }
    }

    &_button__wrapper {
        margin: 80px 0 0 167px;
        max-width: 253px;
        height: 62px;
        width: 100%;
        position: relative;


        button {
            height: 100%;
            width: 100%;
            margin: 0 auto;      
            background: #E2BA00;
            cursor: pointer;
            border: none;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            span {         
                width: min-content;
                height: min-content;   
                transition: .3s ease;
                font-family: $font-secondary;
                font-weight: 700;
                color: var(--color-white);
                text-transform: uppercase;
                font-size: 18px;
                background: transparent;
                white-space: nowrap;

            }


            &:hover ~ span {
                transform: translate(5px, 5px);
            }

            &:hover span {
                font-size: 19px;
                transform: scale(1.1);
                // transition: .3s ease;
            }
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #61697A;
            transform: translate(0, 0);
            z-index: 1;
            transition: .3s ease;
        }
    }

}