@import "media";

.about {

    &_left {
        color: white;
        font-size: 18px;
        line-height: 28.8px;
        width: 600px;
    }

    &_descr__main {
        margin-bottom: 41px;
        font-family: Roboto;
    }
    
    &_descr {
        font-weight: 300;
        font-family: Roboto;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
    }

    &_img {
        //display: flex;
        //justify-content: flex-end;
        width: 350px;
        height: 100%;
        //right: 0;
    }
}