@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import 'vars';
@import 'reponsive';
@import './mixins/mixins';


:root {
  --color-primary: #E2BA00;
  --color-white: #FFFFFF;
  --color-secondary: #151619;
}

body {
  overflow-x: hidden;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: Roboto Condensed, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  position: relative;

  @include media($breakpoint-l-and-more) {
    width: $container;
  }

  @include media($breakpoint-m) {
    width: $container-l;
  }

  @include media($breakpoint-s) {
    width: $container-m;
  }

  @include media($breakpoint-x) {
    width: $container-x;
  }

  @include media($breakpoint-xs) {
    width: $container-xs;
    padding: 0 10px;
  }
}
