@import "../../../scss/mixins/mixins.scss";
@import '../../../scss/vars.scss';
@import '../../../scss/_reponsive.scss';

.header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-index-10;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: calc(-1 * (100vw - 100%));

    .container {
        display: flex;
        align-items: center;
    }

    &_logo {
        width: 200px;
        margin-bottom: 21px;
    }

    .menu_right {
        display: flex;
        align-items: center;
        margin-left: auto;

        nav {
            display: flex;
        }

        .menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 450px;
            text-transform: uppercase;

            &_item {
                display: flex;
                align-items: center;
                color: var(--color-white);
                font-size: 12px;

                a{
                    color: var(--color-white);

                    &:hover {
                        color: #ff4040;
                    }
                }
            }
        }

        .button_nav {
            @include button;
            width: 158px;
            height: 42px;
            margin: 0 92px 0 45px;
            border: 2px solid var(--color-primary);
            color: var(--color-white);
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            background: none;
            cursor: pointer;

            &:hover {
                box-shadow: 5px 5px 0 -2px 	#000000, 5px 5px 0px #656e7d;
                font-size: 17px;
                transition: .3s ease;
            }
        }
    }

    .burg {
        display: none;
    }

    @include media($breakpoint-l-and-more) {

    }

    @include media($breakpoint-m) {

        .menu_right {
            .button_nav {
                margin: 0 0 0 45px;
            }
        }
    }

    @include media($breakpoint-s) {
        .menu_right {
            .menu {
                display: none;
            }
            .button_nav {
                display: none;
            }

            .burg {
                display: block;
                //flex-direction: column;

                &_item {
                    width: 45px;
                    height: 5px;
                    background-color: #FFFFFF;
                    margin-bottom: 8px;
                }
            }
        }
    }

    @include media($breakpoint-x) {
        .menu_right {
            .menu {
                display: none;
            }
            .button_nav {
                display: none;
            }

            .burg {
                display: block;

                &_item {
                    width: 40px;
                    height: 4px;
                    background-color: #FFFFFF;
                    margin-bottom: 7px;
                }
            }
        }
    }

    @include media($breakpoint-xs) {
        width: 100%;

        .menu_right {
            .menu {
                display: none;
            }
            .button_nav {
                display: none;
            }

            .burg {
                display: block;

                &_item {
                    width: 40px;
                    height: 4px;
                    background-color: #FFFFFF;
                    margin-bottom: 7px;
                }
            }
        }
    }
}